{% extends "recommendations/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container text-center">
    <h1>Input new lead</h1>
    <h3>Manually enter new leads</h3>
    <div class="container text-center">
        <form method="POST">
        {% csrf_token %}
            <div class="row input_leads_form mt-4 pb-4 pt-4 d-flex justify-content-center">
                {% for field in form.visible_fields %}
                <div>
                    <div class="mx-2">{{ field.label_tag }}</div>
                    <div class="mx-2">
                        {{ field.errors }}
                        {{ field }}
                        {{ field.help_text }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="container text-center">
                <button type="submit" class="btn btn-primary mt-4 solid-orange-button">Continue</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
