{% extends "recommendations/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<h1 class="text-center">Upload transaction data</h1>
<div class="text-center p-4 white-bg">
	<h4 class="text-left">Formatting Rules</h4>
	<ol class="text-left">
		<li>Make sure there is a column with heading 'Success', with data values 1 indicating successful sale and 0 indicating lost lead.</li>
		<li>Make sure there is a 'Salesperson ID' column.  The values can be names or ID numbers, but we'll use this when we show our lead assignment recommendations.</li>
		<li>Make sure there is a 'Client ID' column.  The values can be names or ID numbers.</li>
		<li>Check that all sensitive fields are masked.  For example, make sure real names have been replaced or anonymized.</li>
		<li>Check that each column has a heading and that it contains only one type of data.</li>
	</ol>
</div>
<div>
	<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
  	<div class="form-group p-4">
  		<div class="form-row">
				{{form.checkbox|as_crispy_field}}
	  	</div>
	  	<div class="form-row  float-left">
				{{ form.file.errors }}
				{{ form.file }}
				{{ form.file.help_text }}
		</div>
	    <div class="form-group  float-right">
		  	<button type="submit" class="btn btn-primary btn-lrg solid-orange-button mt-3 mb-2">Continue</button>
	    </div>
  	</div>
	</form>
</div>
{% endblock content %}
