{% extends "base/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container text-center">
    <h1>Here's what we got!</h1>
    <h3>
        Please confirm the information.  If you see something wrong, please try reuploading updated data or
        check the features specifications.
    </h3>
    <div class="text-left p-3 white-bg">
        <div class="float-left data-summary">
            <h4>Summary of Data</h4>
            <p>Number of rows: <span class="result-span">{{ numRows }}</span></p>
            <p>Number of data columns: <span class="result-span">{{ numDataCols }}</span></p>
            <p>Number of successes: <span class="result-span">{{ numSuccesses }}</span></p>
            <p>Number of failures: <span class="result-span">{{ numFailures }}</span></p>
        </div>
        <div class="container float-right feature-summary results-box p-2">
            <h4>Features</h4>
            <p>Number of salespeople: <span class="result-span">{{ numSalespeople }}</span></p>
            <p>Number of clients: <span class="result-span">{{ numClients }}</span></p>
            <div class="card-deck p-2">
            {% for confirmation in userInputFieldConfirmations %}
                <div class="card results-box-2 m-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ confirmation.formField.name }}</h5>
                        <p class="card-text">Feature type:
                            <span class="result-span">{{ confirmation.formField.featureType }}</span>
                        </p>
                        <p class="card-text">Data type:
                            <span class="result-span">{{ confirmation.formField.dataType }}</span>
                        </p>
                        <p class="card-text">Number of unique categories:
                            <span class="result-span">{{ confirmation.uniqueCategories }}</span>
                        </p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="text-right m-2">
        <a class="btn btn-primary btn-lrg solid-orange-button mt-2" href="{% url 'loading_page' %}" role="button">
            Confirm
        </a>
    </div>
</div>
{% endblock content %}
