:root {
    --asineme-dark-blue: #0062B2;
    --footer-light-blue: #ABCDE8;

    --main-orange: #FF8200;
    --medium-orange: #F4A770;
    --light-orange: #F4DFD0;

    --primary-text-gray: #333333;
    --secondary-text-gray: #6A6A6A;

    --background-offwhite: #F2ECEC;
}

body {
    background: var(--background-offwhite);
    color: var(--primary-text-gray);
    font-family: Roboto;
    margin-top: 5rem;
    margin-bottom: 6rem;
    height:100%;
}

h1 {
    font-size: 3em;
    line-height: 1.5em;
    color: var(--asineme-dark-blue);
}

h2{
    color: var(--asineme-dark-blue);
}

h3, h4, h5, h6 {
    font-weight: 700;
    var(--primary-text-gray);
}

html {
    position: relative;
    min-height: 100%;
}


/* Footer styles
-------------------------------------------------- */
.main {
    position:relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 85px;
  line-height: 85px; /* Vertically center the text there */
  background-color: var(--footer-light-blue);
}

.footer span{
    width: 542px;
}

/* Header styles
-------------------------------------------------- */
#main-header{
    background-color: var(--asineme-dark-blue);
    color: white;
}

#main-logo{
    font-size: 50px;
    font-weight: 700;
    line-height: 45px;
}

#main-logo span {
    opacity:0.75;
}

#main-nav .nav-item{
    font-size: 21px;
    line-height: 25px;
    color:white;
}

#main-nav .nav-item:hover {
    opacity: 0.75;
}

#main-nav .nav-active {
    text-decoration: underline;
}

/* Welcome page styles
-------------------------------------------------- */
.numbered-icon{
    width: 46px;
    height: 46px;
    margin: 10px;
}

#welcome-list li a{
    font-size: 1.5em;
    line-height: 2em;
    color: var(--secondary-text-gray);
}

/* Create new model styles
-------------------------------------------------- */
.white-bg{
    background-color: white;
    overflow: hidden;
}

.results-box {
    background-color: var(--light-orange);
}

.results-box-2 {
    background-color: var(--medium-orange);
}

.table {
  background-color: rgb(255, 255, 255, 0.70);
  width: 100%;
}

td {
    text-align: left;
    vertical-align: middle;
}

th{
    text-align: left;
    vertical-align: middle;
}

/* Homepage styles
-------------------------------------------------- */
.backgroundimg {
    background-image: url('../images/agreement.png');
    background-size:cover;
}

.abouttext {
    font-size: 1.5em;
}

#secondary-logo {
    color: var(--asineme-dark-blue);
    display:inline;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
}

#secondary-logo span {
    opacity:0.75;
}

.blend-text{
    mix-blend-mode: multiply;
}

/* Input lead styles
-------------------------------------------------- */
.input_leads_form{
  background-color: var(--light-orange);
  color: var(--main-orange);
  font-weight: bold;
  border: solid;
  border-color: LightGrey;
}

/* Buttons styles
-------------------------------------------------- */
.solid-orange-button {
    background-color: var(--main-orange);
    border-radius: 30px;
    border:0px;

    font-size: 1.5em;
    color: white;
}

.outline-orange-button {
    background-color: white;
    border-radius: 30px;
    border-width:3px;
    border-color: var(--main-orange);
    padding-top: 0;
    padding-bottom: 0;

    font-size: 1.5em;
    line-height: 2em;
    color: var(--secondary-text-gray);
}

.outline-orange-button:hover {
    border-color: var(--asineme-dark-blue);
}

.round {
    border-radius: 50%;
}

.loading-circle {
    width: 1.5em;
    height:1.5em;
}
/* Preprocessing confirmation styles
-------------------------------------------------- */
.data-summary{
    width:25%;
    height:100%;
    display: inline-block;
}

.feature-summary{
    width:75%;
    height:100%;
    display: inline-block;
}

.result-span{
    font-weight: 700;
    color: var(--asineme-dark-blue);
}

/* Model result styles
-------------------------------------------------- */
.results-circle {
    border-width:3px;
    align-items : center;
    justify-content: center;
    border-color: var(--main-orange);
    border-style:solid;
    border-radius: 50%;
    display : flex;
    width:12em;
    height:12em;
}

/* Input new leads styles
-------------------------------------------------- */
.field_organizer {
    background-color:transparent;
    border:0;
}

/* Recommendations styles
-------------------------------------------------- */
.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
